# Enforce LF line endings for source files (overrides core.autocrlf)
*.php text eol=lf
*.js  text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md  text eol=lf

# Items to ignore when downloading a zip

.gitattributes export-ignore
.gitignore export-ignore
composer.lock export-ignore
package-lock.json export-ignore
gulpfile.js export-ignore
/.github/ export-ignore
wall-lib.php export-ignore
