.um .um-wall-empty {
  text-align: center;
  width: 100%;
}
.um .um-wall-bigtext {
  text-align: center;
  font-size: var(--um-text-font-size-lg, 18px);
  line-height: var(--um-text-line-height-lg, 28px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um .um-wall {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  row-gap: 12px;
}
.um .um-wall-posts-loader {
  margin: 0 auto;
}
.um .um-box.um-wall-new-post, .um .um-box.um-wall-edit-post,
.um .um-box .um-wall-edit-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 16px 20px;
  row-gap: 0;
}
.um .um-box.um-wall-new-post .um-box-header, .um .um-box.um-wall-edit-post .um-box-header,
.um .um-box .um-wall-edit-post .um-box-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  padding: 0;
  gap: 12px;
  margin-bottom: 12px;
}
.um .um-box.um-wall-new-post .um-box-header .um-wall-post-author, .um .um-box.um-wall-edit-post .um-box-header .um-wall-post-author,
.um .um-box .um-wall-edit-post .um-box-header .um-wall-post-author {
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um .um-box.um-wall-new-post .um-box-content, .um .um-box.um-wall-edit-post .um-box-content,
.um .um-box .um-wall-edit-post .um-box-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
  gap: 12px;
}
.um .um-box.um-wall-new-post .um-box-content textarea, .um .um-box.um-wall-edit-post .um-box-content textarea,
.um .um-box .um-wall-edit-post .um-box-content textarea {
  resize: vertical;
  min-height: 64px;
  width: 100%;
  margin: 0;
}
.um .um-box.um-wall-new-post .um-box-content .um-toggle-block-inner, .um .um-box.um-wall-edit-post .um-box-content .um-toggle-block-inner,
.um .um-box .um-wall-edit-post .um-box-content .um-toggle-block-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um .um-box.um-wall-new-post .um-box-content .um-toggle-block-inner .um-uploader, .um .um-box.um-wall-edit-post .um-box-content .um-toggle-block-inner .um-uploader,
.um .um-box .um-wall-edit-post .um-box-content .um-toggle-block-inner .um-uploader {
  padding: 0 0 12px 0;
  width: calc(100% - 1px);
}
.um .um-box.um-wall-new-post .um-box-content .um-toggle-block-inner .um-uploader .um-upload-link.um-upload-link-disabled, .um .um-box.um-wall-edit-post .um-box-content .um-toggle-block-inner .um-uploader .um-upload-link.um-upload-link-disabled,
.um .um-box .um-wall-edit-post .um-box-content .um-toggle-block-inner .um-uploader .um-upload-link.um-upload-link-disabled {
  pointer-events: none;
  color: var(--um-gray-600, #475467);
}
.um .um-box.um-wall-new-post .um-box-footer, .um .um-box.um-wall-edit-post .um-box-footer,
.um .um-box .um-wall-edit-post .um-box-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 12px 0 0 0;
}
.um .um-box.um-wall-new-post .um-box-footer .um-wall-left, .um .um-box.um-wall-edit-post .um-box-footer .um-wall-left,
.um .um-box .um-wall-edit-post .um-box-footer .um-wall-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.um .um-box.um-wall-new-post .um-box-footer .um-wall-left .um-wall-toggle-uploader, .um .um-box.um-wall-edit-post .um-box-footer .um-wall-left .um-wall-toggle-uploader,
.um .um-box .um-wall-edit-post .um-box-footer .um-wall-left .um-wall-toggle-uploader {
  position: relative;
}
.um .um-box.um-wall-new-post .um-box-footer .um-wall-left .um-wall-toggle-uploader .um-wall-uploaded-count, .um .um-box.um-wall-edit-post .um-box-footer .um-wall-left .um-wall-toggle-uploader .um-wall-uploaded-count,
.um .um-box .um-wall-edit-post .um-box-footer .um-wall-left .um-wall-toggle-uploader .um-wall-uploaded-count {
  bottom: 0;
  position: absolute;
  right: 0;
  font-size: 10px;
  padding: 3px;
  line-height: 1;
}
.um .um-box.um-wall-new-post .um-box-footer .um-wall-right, .um .um-box.um-wall-edit-post .um-box-footer .um-wall-right,
.um .um-box .um-wall-edit-post .um-box-footer .um-wall-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.um .um-box.um-wall-new-post .um-box-footer .um-wall-right .um-wall-posting-result, .um .um-box.um-wall-edit-post .um-box-footer .um-wall-right .um-wall-posting-result,
.um .um-box .um-wall-edit-post .um-box-footer .um-wall-right .um-wall-posting-result {
  margin: 0;
  padding: 0;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
}
.um .um-box .um-wall-edit-post {
  padding: 0;
}
.um .um-box .um-wall-textarea-elem {
  white-space: pre-wrap;
  overflow-y: auto;
  min-height: 64px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  padding: 8px 12px;
  margin: 0;
  color: var(--um-gray-900, #101828);
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-box .um-wall-textarea-elem.um-disabled {
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
  color: var(--um-blocks-button-fg-color, var(--um-gray-400, #98a2b3));
  background-color: var(--um-blocks-button-bg-disabled-color, var(--um-blocks-button-bg-color, #fff));
  border-color: var(--um-blocks-button-bg-disabled-color, var(--um-gray-200, #eaecf0));
}
.um .um-box .um-wall-textarea-elem.um-upload-link-disabled {
  background: var(--um-gray-100, #f2f4f7);
}
.um .um-box .um-wall-textarea-elem:not(.wp-editor-area) {
  border-radius: 8px;
  border: 1px solid var(--um-gray-300, #d0d5dd);
  white-space: pre-wrap;
  overflow-y: auto;
}
.um .um-box .um-wall-textarea-elem:not(.wp-editor-area):focus, .um .um-box .um-wall-textarea-elem:not(.wp-editor-area):focus-visible {
  border: 1px solid var(--um-primary-300-bg, #d6bbfb);
  box-shadow: 0 0 0 4px var(--um-primary-500-a-24, rgba(158, 119, 237, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  background: #fff;
  outline: none;
}
.um .um-box .um-wall-textarea-elem.um-error {
  border-color: var(--um-error-300, #fda29b);
}
.um .um-box .um-wall-textarea-elem.um-error:not(.wp-editor-area):focus, .um .um-box .um-wall-textarea-elem.um-error:not(.wp-editor-area):focus-visible {
  box-shadow: 0 0 0 4px var(--um-error-500-a-24, rgba(240, 68, 56, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
}
.um .um-box .um-wall-textarea-elem:empty:before {
  content: attr(data-placeholder);
  color: #999;
  pointer-events: none;
}
.um .um-box .um-wall-editor-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 8px;
}
.um .um-box .um-wall-editor-toolbar button.active {
  background: var(--um-blocks-button-bg-hover-color, var(--um-gray-50, #f9fafb));
}
.um .um-box .um-wall-textarea-hidden {
  visibility: hidden;
  display: none;
}
.um .um-wall-commentl.um-wall-comment-area {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  row-gap: 6px;
}
.um .um-wall-commentl.um-wall-comment-area .um-avatar {
  grid-row: 1/3;
}
.um .um-wall-commentl.um-wall-comment-area .um-wall-comment-post {
  justify-self: right;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 0 12px 0 !important;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file {
  margin: 0;
  max-width: 184px;
  box-sizing: border-box;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-data {
  row-gap: 6px;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-data .um-uploader-wall-photos-data-wrapper {
  row-gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-data .um-uploader-wall-photos-data-wrapper .um-uploader-file-data-header {
  max-width: 100%;
  width: 100%;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-data .um-uploader-wall-photos-data-wrapper .um-uploader-file-data-header .um-wall-delete-photo {
  padding: 0;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-data .um-uploader-wall-photos-data-wrapper .um-uploader-file-data-header .um-uploader-file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-preview {
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-preview img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file .um-uploader-file-preview canvas {
  width: 150px !important;
  height: 150px !important;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-image-file-placeholder {
  max-width: 184px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  padding: 16px;
  background: #fff;
  border: 1px solid var(--um-gray-200, #eaecf0);
  border-radius: 12px;
  column-gap: 12px;
  box-sizing: border-box;
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-image-file-placeholder.um-upload-completed {
  border-color: var(--um-gray-200, #eaecf0);
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-image-file-placeholder.um-upload-failed {
  border-color: var(--um-gray-200, #eaecf0);
}
.um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-image-file-placeholder .um-uploader-file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.um .um-wall-widget {
  width: 100%;
  row-gap: 16px;
}
.um .um-wall-widget .um-wall-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  column-gap: 12px;
  position: relative;
}
.um .um-wall-widget .um-wall-head .um-wall-post-loader {
  position: absolute;
  top: 0;
  right: 0;
}
.um .um-wall-widget .um-wall-head .um-wall-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  column-gap: 12px;
}
.um .um-wall-widget .um-wall-head .um-wall-author .um-small-data {
  row-gap: 0;
}
.um .um-wall-widget .um-wall-head .um-wall-author .um-small-data .um-data-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 6px;
}
.um .um-wall-widget .um-wall-head .um-wall-author .um-small-data .um-data-header .um-user-display-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  line-height: var(--um-text-line-height-sm, 20px);
}
.um .um-wall-widget .um-wall-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  row-gap: 16px;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
  word-wrap: break-word;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 8px;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt.loading {
  opacity: 0.5;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-meta-preview {
  border: 1px solid var(--um-gray-200, #eaecf0);
  padding: 6px;
  position: relative;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-meta-preview p {
  display: none;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-meta-preview .um-meta-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  text-decoration: underline;
  margin: 8px 0 0 0;
  gap: 5px;
  padding: 0 12px 8px 12px;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-meta-preview .um-meta-text:hover {
  text-decoration: none;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-meta-preview .um-meta-text .um-meta-domain {
  color: var(--um-gray-400, #98a2b3);
  font-size: var(--um-text-font-size-xs, 12px);
  line-height: var(--um-text-line-height-xs, 18px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt figure br {
  display: none;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .twitter-tweet {
  width: 100% !important;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt iframe {
  width: 100%;
  max-width: 100%;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt img {
  width: 100%;
  height: auto;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt img.avatar {
  width: 40px;
  vertical-align: middle;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-wall-seemore,
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-link {
  cursor: pointer;
  color: var(--um-primary-700-bg, #6941c6);
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-wall-seemore:hover,
.um .um-wall-widget .um-wall-body .um-wall-bodyinner .um-wall-bodyinner-txt .um-link:hover {
  color: var(--um-primary-800-bg, #53389e);
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner-photo {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 8px;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner-photo .um-image-lazyload-wrapper {
  max-width: 100%;
  background: var(--um-gray-200, #eaecf0);
  border-radius: 10px;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner-photo .um-image-lazyload-wrapper img {
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  display: block;
}
.um .um-wall-widget .um-wall-body .um-wall-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  row-gap: 4px;
}
.um .um-wall-widget .um-wall-body .um-wall-actions button.um-button.um-wall-comments-toggle {
  column-gap: 6px;
  padding: 0;
}
.um .um-wall-widget .um-wall-body .um-wall-actions button.um-button.um-wall-comments-toggle .um-button-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 6px;
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 6px;
  height: 32px;
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-post-like {
  position: relative;
  padding: 0;
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-post-like .um-like-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-post-like .um-like-icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../img/thumb-up.svg);
  -webkit-mask-image: url(../img/thumb-up.svg);
  width: 20px;
  height: 20px;
  background-color: var(--um-gray-600, #475467);
  text-indent: 500%;
  white-space: nowrap;
  overflow: hidden;
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-post-like.active .um-like-icon:after {
  mask-image: url(../img/thumb-up-active.svg);
  -webkit-mask-image: url(../img/thumb-up-active.svg);
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-post-like:hover .um-like-icon:after {
  background-color: var(--um-gray-700, #344054);
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-post-like:focus .um-like-icon:after {
  background-color: var(--um-gray-600, #475467);
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-post-like:disabled .um-like-icon:after {
  background-color: var(--um-gray-400, #98a2b3);
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-show-likes {
  padding: 0;
}
.um .um-wall-widget .um-wall-body .um-wall-actions .um-wall-like-wrap .um-wall-show-likes .um-wall-post-likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 4px;
}
.um .um-wall-widget .um-wall-body .um-photo-modal img {
  max-width: 100%;
}
.um .um-wall-widget .um-wall-body .um-wall-bodyinner-video iframe {
  width: 100%;
  height: 300px;
}
.um .um-wall-widget .um-wall-comments {
  padding-top: 16px;
  border-top: 1px solid var(--um-gray-200, #eaecf0);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop {
  row-gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  row-gap: 8px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  row-gap: 8px;
  width: 100%;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-comment-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  row-gap: 8px;
  width: calc(100% - 48px - 8px);
  margin-left: 52px;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-comment-info .um-wall-comment-data {
  width: 100%;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-comment-info .um-wall-comment-data .um-wall-comment-text .um-link {
  color: var(--um-primary-700-bg, #6941c6);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-comment-info .um-wall-comment-data .um-wall-comment-text .um-link:hover {
  color: var(--um-primary-800-bg, #53389e);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-comment-info .um-wall-comment-data .um-wall-comment-edit-actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 8px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-comment-info .um-wall-comment-data .um-wall-comment-edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  row-gap: 8px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl a {
  text-decoration: none;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-small-data {
  width: calc(100% - 80px);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-small-data .um-user-display-name {
  line-height: 1;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-small-data .um-supporting-text {
  font-size: var(--um-text-font-size-xs, 12px);
  line-height: var(--um-text-line-height-xs, 18px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-small-data .um-supporting-text a {
  font-size: var(--um-text-font-size-xs, 12px);
  line-height: var(--um-text-line-height-xs, 18px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl textarea {
  width: 100%;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-editc {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-comment-meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 6px;
  min-height: 24px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl:hover .um-wall-editc {
  opacity: 1;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child {
  margin-left: 52px;
  width: calc(100% - 48px - 4px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  row-gap: 16px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-comment-reply-actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 8px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-comment-reply-actions .um-wall-loader {
  margin: 0;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-commentl:first-child {
  margin-top: 16px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-commentl:last-child {
  margin-bottom: 16px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-commentl .um-wall-comment-info {
  width: calc(100% - 48px - 4px);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-commentl .um-wall-editc {
  right: 0;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-commentl .um-small-data:before {
  content: "";
  display: block;
  width: 1px;
  height: calc(100% - 48px);
  background: var(--um-gray-200, #eaecf0);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-child .um-wall-comment-child-loop .um-wall-commentl:last-child .um-small-data:before {
  display: none;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-likes .um-wall-comment-likes-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 8px;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-like {
  padding: 0;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-like .um-like-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-like .um-like-icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../img/thumb-up.svg);
  -webkit-mask-image: url(../img/thumb-up.svg);
  width: 20px;
  height: 20px;
  background-color: var(--um-gray-600, #475467);
  text-indent: 500%;
  white-space: nowrap;
  overflow: hidden;
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-like.active .um-like-icon:after {
  mask-image: url(../img/thumb-up-active.svg);
  -webkit-mask-image: url(../img/thumb-up-active.svg);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-like:hover .um-like-icon:after {
  background-color: var(--um-gray-700, #344054);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-like:focus .um-like-icon:after {
  background-color: var(--um-gray-600, #475467);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-comment-like:disabled .um-like-icon:after {
  background-color: var(--um-gray-400, #98a2b3);
}
.um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentload {
  margin: 0 auto;
}
.um .um-wall-widget .um-wall-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  row-gap: 8px;
}
.um .um-wall-widget .um-wall-comment-form .um-wall-comment-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  column-gap: 12px;
}
.um .um-wall-widget .um-wall-comment-form .um-wall-comment-box textarea {
  flex: 1;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-wall-widget .um-wall-comment-form .um-form-submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.um-wall-photo-view-modal .um-modal-close {
  position: fixed;
  color: #fff;
}
.um-wall-photo-view-modal .um-button {
  position: fixed;
  z-index: 1;
  top: 50%;
  background: none;
  border: none;
  color: #fff;
}
.um-wall-photo-view-modal .um-button.um-wall-modal-prev {
  cursor: pointer;
  left: 0;
}
.um-wall-photo-view-modal .um-button.um-wall-modal-next {
  cursor: pointer;
  right: 0;
}
.um-wall-photo-view-modal img {
  object-fit: contain;
}

.um-mention-autocomplete {
  position: absolute;
  z-index: 99999;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: none;
  min-width: 180px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}
.um-mention-autocomplete .um-mention-item {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
}
.um-mention-autocomplete .um-mention-item:hover {
  background: #f6f6f6;
}
.um-mention-autocomplete .um-mention-item img {
  border-radius: 50%;
  margin-right: 8px;
  width: 28px;
  height: 28px;
}
.um-mention-autocomplete .um-mention-item .name {
  font-weight: 600;
  margin-right: 6px;
}
.um-mention-autocomplete .um-mention-item .username {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .um .um-wall-widget .um-wall-comments .um-wall-comments-loop .um-wall-commentwrap .um-wall-commentl .um-wall-editc {
    opacity: 1;
  }
}
@media (max-width: 735px) {
  .um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-image-file-placeholder {
    max-width: 100%;
  }
  .um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .um .um-wall-uploader-section .um-uploader .um-uploader-filelist .um-uploader-file {
    max-width: 100%;
    width: 100%;
  }
}